body {
    background: #444444;
}

h3 {
    position: relative;
    margin-top: 20%;
    text-align: center;
    font-family: monospace;
    color:antiquewhite;
}

form {
    position: fixed;
    margin: 0;
    top: 50%;
    left: 43%;
}

input[type=text] {
    font-family: monospace;
    background-color: #444444;
    color: antiquewhite;
    border-radius: 10%;
}


button {
    border-radius: 15%;
    background-color: #444444;
    text-align: center;
    font-family: monospace;
    color:antiquewhite;
}


